{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                        <!-- busuanzi -->
                        {{ if .Site.Params.busuanzi.enable -}}
                            <span class="date" id="busuanzi_container_page_pv">·&nbsp;<span class="date" id="busuanzi_value_page_pv"></span></span>
                        {{- end }}
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <img class="likon" style="margin-top: 20px; margin-left: -30px;" src="{{ "images/icon_wechat.png" | absURL }}" width="200px">
                <!-- <img class="width=300px;" src = 'https://s3.bmp.ovh/imgs/2023/07/28/b1a77e05dc92205b.png' > -->
                <!-- 评论系统 -->
                {{- partial "comments.html" . }}
            </div>
        </div>
    </div>
    <a id="back_to_top" href="#" class="back_to_top"><i class="ri-arrow-up-s-line"></i></a>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>