<footer class="footer">
    <div class="powered_by">
        {{ if .Site.Params.busuanzi.enable -}}
            <!-- <span id="busuanzi_container_site_uv">
                <span id="busuanzi_value_site_uv"></span>
            </span>
            <span>/</span> -->
            <!-- https://remixicon.com/ -->
            <span id="busuanzi_container_site_pv">
                <i class="ri-eye-fill"></i> <span id="busuanzi_value_site_pv"></span>
            </span>
        {{- end -}}
    </div>
    <!-- busuanzi -->

    <div class="footer_slogan">
        <span>{{ .Site.Params.footerSlogan }}</span>
        <img src="{{ "images/funny.png" | absURL }}" height="30px" alt="首先要有意思">
    </div>
</footer>